ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #007FFF;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #002D62;
}

#Input {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}

#myTable th, #myTable td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}

#homeHeader {
  text-align: center;
  text-decoration: underline;
}

#totalBalance {
  text-align: center;
  text-decoration: underline;
}

.center {
  text-align: center;
}

#registerHeader {
  text-align: center;
  text-decoration: underline;
}

#registerForm {
  text-align: center;
}

#loginHeader {
  text-align: center;
  text-decoration: underline;
}

#loginForm {
  text-align: center;
}

#dailyProfitsHeader {
  text-align: center;
  text-decoration: underline;
}

#inputProfitHeader {
  text-align: center;
  text-decoration: underline;
}

#inputProfitForm {
  text-align: center;
}

#totalAmountProfits {
  text-align: center;
  text-decoration: underline;
}


#dailyExpensesHeader {
  text-align: center;
  text-decoration: underline;
}

#inputExpenseHeader {
  text-align: center;
  text-decoration: underline;
}

#inputExpenseForm {
  text-align: center;
}

#totalAmountExpenses {
  text-align: center;
  text-decoration: underline;
}

#form {
  text-align: center;
}